@{
    ViewData["Title"] = "Política de Segurança";
}

<div class="row justify-content-center">
    <div class="col-10">
        <h1>@ViewData["Title"]</h1>
        <div class="mt-4">
            <div class="mb-3">
                <h3>Sobre a empresa</h3>
                <p>A InfoSoft é uma empresa de consultoria em tecnologia da informação que desenvolve soluções robustas para atender as
                    necessidades de nossos clientes, sempre focando em segurança, desempenho e usabilidade.</p>
                <p class="text-center"><img src="~/assets/Picture1.png" width="500" alt=""/></p>
            </div>
            <div class="mb-3">
                <h3>Missão</h3>
                <p>Promover a transformação digital do seu negócio</p>
            </div>
            <div class="mb-3">
                <h3>Visão</h3>
                <p>Ser referência de qualidade e confiabilidade no mercado de consultoria em tecnologia da informação na América Latina.</p>
            </div>
            <div class="mb-3">
                <h3>Valores</h3>
                <p>Acreditamos que a colaboração e as metodologias ágeis podem promover grandes resultados, por isso, promovemos um ambiente saldável e desafiador para que nossos colaboradores possam dar o melhor de si.</p>
            </div>
            <div class="mb-3">
                <h3>Riscos e Impactos</h3>
                <ul>
                    <li><strong>Riscos:</strong> Pela natureza do negócio, precisamos estar sempre atentos com a segurança e disponibilidade das soluções que construímos, desde a implementação até a implantação. A forma com que os dados são transportados e armazenados são de crucial importância, já que um dos maiores riscos do negócio é o vazamento de informações de nossos clientes. Outros ricos são: desastres naturais e indisponibilidade da infraestrutura.</li>
                    <li><strong>Impactos:</strong> Caso haja o vazamento de informações de algum sistema de nossos clientes, somos responsáveis diretos, visto que somos responsáveis pela governança dos sistemas. No infortuno de tal evento, a credibilidade da empresa será extremamente afetada, além dos danos potenciais aos nossos clientes expostos. Outros impactos: indisponibilidade das aplicações, perda de dados e aumento dos custos.</li>
                </ul>
                
            </div>
            <div class="mb-3">
                <h3>Objetivos</h3>
                <p>Esta Política de Segurança da Informação (PSI) estabelece orientações, procedimentos e diretrizes a todos os colaboradores da InfoSoft para o uso dos seus ativos, incluindo os que a ela foram confiados, a fim de garantir a confiabilidade, integridade, disponibilidade e privacidade das informações de nossos clientes.</p>
            </div>
            <div class="mb-3">
                <h3>Definições</h3>
                <p>São considerados ativos da InfoSoft:</p>
                <ul>
                    <li>Informações de seus clientes;</li>
                    <li>Dados das aplicações no domínio da empresa;</li>
                    <li>Infraestrutura;</li>
                    <li>Repositórios;</li>
                    <li>Qualquer equipamento fornecido pela a empresa a seus colaboradores.</li>
                </ul>
            </div>
            <div class="mb-3">
                <h3>Diretrizes</h3>
                <ul>
                    <li>Os acessos aos ambientes de produção só podem estar disponíveis aos responsáveis pela governança da aplicação;</li>
                    <li>Informações sobre projetos e clientes só devem ser compartilhados pelos meios oficiais de comunicação da empresa.</li>
                </ul>
            </div>
            <div class="mb-3">
                <h3>Normas</h3>
                <ul>
                    <li>Todos os colaboradores devem sempre se atentar a LGPD durante a construção das aplicações;</li>
                    <li>Todo colaborador terá acesso a um e-mail coorporativo e acesso ao Teams para comunicar-se dentro da empresa;</li>
                    <li>Não é permitido a utilização de qualquer software que não tenha sido fornecido pela empresa.</li>
                </ul>
            </div>
            <div class="mb-3">
                <h3>Sanções</h3>
                <p>Qualquer violação, mesmo que por omissão desta política, bem como normas e procedimentos de segurança, serão passíveis de penalidades: advertência, suspensão e desligamento por justa causa. </p>
                <p>Cabe a InfoSoft entender e julgar cada caso, decidindo qual a melhor forma de resolver possíveis violações à PSI.</p>
            </div>
        </div>
    </div>
</div>